//image size
@imgH: 15rem;
@imgW: 15rem;
@imgBr: 50%;
// shadow
@mainShadow: 0rem 0rem 1.6rem 0.2rem rgba(0, 0, 0, 0.45);
@secondaryShadow: 0rem 0rem 0.5rem 0.2rem rgba(0, 0, 0, 0.25);
//padding
@allPadding: 1rem;
@sidesPadding: 0 1.5rem;
@top-bottomPadding: 2rem 0;
//rating styles
@rating-radius: 50%;
@rating-H: 0.6em;
@rating-W: 0.6em;
//width
@expand: 100%;
//borders
@borderBottom: 0.2rem solid @bg;
@borderImg: 0.5rem solid @white;