@import "./reset.less";
@import "./font-prop.less";
@import "./colors.less";
@import "mixin.less";
@import "./general.less";

/* CSS */

.container {
  margin: 0 auto;
  max-width: 750px;
  width: @expand;
  .displayFlex(column);
  align-content: center;

  header,
  footer {
    .displayFlex(row-reverse);
    padding: @allPadding;
  }

  nav {
    .displayFlex(row);
    width: 50%;
    justify-content: space-around;
  }

  img {
    height: @imgH;
    width: @imgW;
    border-radius: @imgBr;
    box-shadow: @mainShadow;
  }
  //content that englobes everything in the middle
  .main-content {
    width: @expand;
    .displayFlex(column);
    background-color: @innerBg;
    padding: @allPadding;
    box-shadow: @mainShadow;
  }

  .banner {
    width: @expand;
    background-color: @red;
    .displayFlex(row);
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: @top-bottomPadding;
    p {
      font-size: @quoteFontSize;
    }
  }
  
  //general styles for content
  .content {
    .displayFlex(column);

    h2 {
      margin: 1.6rem 0;
    }
    h3 {
      font-weight: @bold;
    }
    .box {
      .displayFlex(row);
      justify-content: space-between;
      padding: @sidesPadding;
      border-bottom: 0.2rem solid @bg;
    }
    .top {
      .displayFlex(column);
      text-align: justify;
      .signature {
        height: @signatureSize;
        width: auto;
        border-radius: 0%;
        box-shadow: none;
        align-self: flex-end;
        margin: @top-bottomPadding;
        margin-right: 2rem;
      }
    }
    .middle {
      .displayFlex(row);
      div {
        width: 41%;
      }
    }
    .bottom {
      .displayFlex(column);
      align-items: center;
      border-bottom: none;
    }
  }

  //specifc styling for content
  .personal section {
    height: 80%;
    .displayFlex(column);
    flex-wrap: wrap;
    justify-content: center;
    width: @expand;
    
    div {
      .displayFlex(row);
      align-content: space-around;
      flex-wrap: wrap;
      height: @expand;
      width: @expand;
    }
    p {
      width: @expand;
    }
  }

  .skills section {
    h4 {
      font-size: @quoteFontSize;
      color: @skills;
      font-weight: @bold;
      text-align: left;
    }
    li {
      display: inline-block;
      font-size: 3rem;
      border: 0.15rem solid @red;
      border-radius: @rating-radius;
      height: @rating-H;
      width: @rating-W;
      margin: @allPadding;
    }
    &.full {
      background-color: @red;
    }
  }

  .work {
    padding: @top-bottomPadding;
    width: @expand;
    .displayFlex(row);
    justify-content: space-around;
  }
}
